.btn-success {
    background-color: #b25ed7;
    border-color: #c877eb;
}

.btn-sucess.dropdown-toggle {
    background-color: #b25ed7;
    border-color: #c877eb;
}

.btn-success:hover {
    background-color: #b25ed7;
    border-color: #c877eb;
}

.show > .btn-success.dropdown-toggle::after focus {
    box-shadow: 0 0 0 .2rem rgba(148, 72, 180, 0.5);
}

.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #b25ed7;
    border-color: #c877eb;
}

.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #b25ed7;
    border-color: #c877eb;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(148, 72, 180, 0.5);
}

.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(148, 72, 180,.5);
}

.searchBox {
    max-height: 5% !important;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 0 0 2% 3%;
    align-items:center;
    justify-content: flex-start;
}

h2{
    text-align: left;
    margin-left: 5%;
}

.item {
    padding: 2%;
}
.buttonItem{
    height: 5px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.map {
    margin-left: 10%;
}

.boxColour {
    width: 200%;
    height: 50vh;
    background: #cfbffc;
}

/*.dropdown {
    background-color: #b25ed7;
}*/
